.left-image{
  width: 350px;
  float: left;
  margin-right: 10px;


}

.right-image{
  width: 200px;
  margin-top: 100px;
  /* margin-right: 40px;
  margin-left: 40px; */
  margin-bottom: 0px;
}


.Max{
  margin-left: 170px;
  color: rgb(43, 226, 122)
}

.temp{
  float: none;
}

.vis{
  margin-left: 100px;
  color: rgb(43, 113, 226)
}

.hum{
  margin-left: 200px;
  color: rgb(43, 226, 122)
}

/* .image1{
  margin-left: 250px;
  margin-top: 100px;
}

.image{
  margin-top: 100px;
} */





/* giving the body a dark background to better see the bright colored boxes */
body {
    background: #ffffff;
  }
  
/* every box is this size */
.box {
  width: 200px;
  height: 200px;
}

/* Every individual box is a different color */
.box-1 {
  background: green;
}

.box-2 {
  background: red;
}

.box-3 {
  background: blue;
}

.box-4 {
  background: cornsilk;
}

.box-5 {
  background: slateblue;
}
.navbar li a {
  color: #000;
  text-decoration: none;
}
/* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
@media (max-width: 600px) {

  .navbar li {
    background: green;
    
  }

}
 
.navbar-green {
  background: green;
  
}

 
  /*

  
  /* .box-2 {
  background: yellow;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 2px black;
  } */

  /* .box-3 {
    display: none;
  } */

  /* .box-4 {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in;
  } */

  /* .box-5 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    background: none;
    margin-left: 300px;
  } */
